capsule:
  id: REL-{{timestamp}}
  type: relationship
  participants:
    - you
    - partner
  conflict_summary: |
    # Brief description of the issue
  emotional_snapshot:
    you: [feelings]
    partner: [perceived feelings]
  desired_outcomes:
    - reconcile
    - clarify expectations
  actions:
    - your_step_1
    - partner_step_1
    - joint_step_1
